# Endpoint do Google Apps Script (Web App) que grava leads na planilha.
# Deploy > Web App > "Execute as: Me" / "Who has access: Anyone" > copia a URL
SHEETS_ENDPOINT=https://script.google.com/macros/s/XXXXXXXXXXXXXXXXXXXX/exec
